.App {
  text-align: center;
  /*background-image: url('./gameCode.gif');*/
}


.navbar {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  -webkit-transition: all .35s;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  /* color: #212529; */
  text-align: left;
  background-color: #fff;
}

.navbar .logo {
  color: white;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

.navbar .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #222222;
}

.navbar .navbar-nav > li > a {
  font-size: 11px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

.navbar .navbar-nav > li > a.active {
  color: #fdcc52 !important;
  background-color: transparent;
}

 .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: white;                                 /*'focus' color of menu list when page shrinks*/
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {     /*'focus' hover color of menu shrunk page*/
  color: aqua;
}
.navbar .logo:hover, #mainNav .logo:focus {
  color: blue;
}
.Jumbotron{
  margin-top:90px;
  margin-bottom:0;
  padding: 200px 0 300px 0;
  background-size:100% 100%;
  color:white;
}

section.features .section-heading {
  margin-bottom: 100px;
}

section.features .section-heading h2 {
  margin-top: 0;
  padding-top: 100px;
  font-size:50pt;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
}
section.features .section-heading .headline {
  font-size: 20pt;
  color:grey;
}

section.features .section-heading p {
  margin-bottom: 0;
}

section.features .device-container,
section.features .feature-item {
  max-width: 325px;
  margin: 0 auto;
}

section.features .device-container {
  margin-bottom: 100px;
  size: 50px;
}

@media (min-width: 992px) {
  section.features .device-container {
    margin-bottom: 0;
  }
}

section.features .feature-item {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

section.features .feature-item h3 {
  font-size: 30px;
  color:blue
}
section.features .feature-item .icon-caption {
  font-size: 17pt;
  color: aqua;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

section.features .feature-item .icon {
  font-size: 80px;
  display: block;
  margin-bottom: 15px;
  color: blue;
}


.Testimonials{
  padding-top:7rem;
  padding-bottom:7rem;
  background: no-repeat center center;
  background-size: cover;
}
.Testimonials h2{
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size:40pt;
  color:white;
  -webkit-text-stroke-width:2.0px;
  -webkit-text-stroke-color:black;
}
.Testimonials .container .sub-heading{
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size:23pt;
  color:white;
  -webkit-text-stroke-width:1.0px;
  -webkit-text-stroke-color:black;
}

.Testimonials .testimonial-item{
  max-width:25rem;
}
.Testimonials .testimonial-item img{
  max-width:12rem;
  width: 150px;
 /* -webkit-box-shadow:0 5px 5px 0 #adb5bd;
  box-shadow:0 5px 5px 0 #adb5bd;*/
}
.Testimonials .testimonial-item .title{
  color:white;
  -webkit-text-stroke-width:0.5px; 
  -webkit-text-stroke-color:black;
  font-size: 20pt;
}
.Testimonials .testimonial-item .caption{
  color:black;
  -webkit-text-stroke-width:1.0px; 
  -webkit-text-stroke-color:white;
  font-size: 15pt;
}
.Testimonials .row{
  display: flex;
  align-items:center;
  justify-content:center;
}

/*.Info i:hover{
  font-size:7rem;
}

.InfoGroup .container{
  display: inline-flex;
  justify-content: space-between;
  padding: 50px 0 50px 0;
  padding-top:7rem;
  padding-bottom:7rem;
  background-size: cover;  
  padding-top:7rem;
}
.Info{
  max-width: 200px;
}
.Info i{
  font-size: 5.5rem;
  color:#007bff;
}                   */


section.Jumbotron2 {
  position: relative;
  padding: 250px 0;
  background-position: center;
  background-size: cover;
  padding-bottom: 7rem;
  
}
section.Jumbotron2 .content {
  position: relative;
  z-index: 1;
}

section.Jumbotron2 .content h2 {
  font-size: 50px;
  max-width: 450px;
  margin-top: 0;
  margin-bottom: 25px;
  color: white;
}

@media (min-width: 768px) {
  section.Jumbotron2 .content h2 {
    font-size: 80px;
  }
}

section.Jumbotron2 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.References .ref-links{
  display: flex;
  width:500%;
  justify-content: flex-start;
  background-size:cover;
  background: no-repeat;
  padding-top: 7rem;
  padding-bottom: 7rem;
  margin-bottom:0;
}
.References .text{
  color:white;
}
.References .link{
  margin-right:auto;
  color:white;
  margin-left:1px;
  padding-left:1px;
}
.References .link:hover{
  color:aqua;
}
.References .icon:hover{
  color:white;
}
.References .icon{
  margin-left: 100px;                      /*Sorts out space between home, about etc*/
  font-size: 3rem;
  height:150%;
  color:aqua;
} 
.References .ref-links .copyright{
  padding-left:100px;
}
.References .ref-links .images{
  padding-left:20px;
}
                                        /*About*/                   
.JigSaw .showcase-img{
  background-size:cover;
}

.JigSaw .showcase-text{
  padding: 150px; 
  background:no-repeat;
  background-size: cover;
  color:white;
}
.JigSaw .showcase-text p{
  font-size:17pt;
}
.RegisterLogin {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}

.RegisterLogin > .container {
  width: 400px;
  background: white;
  padding: 20px;
  margin: 40px auto;
  border-radius: 20px;
  text-align: left;
}

.RegisterLogin > .container input {
  margin: 0 0 16px;
}

.Feeds .media {
  background: #e8e8e8;
  border-radius: 15px;
  padding: 15px;
}


                                      /*References Bar*/
.policypage {
  margin-top:10px;
  margin-bottom:0;
  padding: 50px 0 10px 0;
  background-size:100% 100%;
}
.policypage .page{
  font:10pt;
  color:white;
}
.policypage .page h2{
  padding-top: 90px;
  padding-bottom: 30px;
  font:10pt;
  color:white;
}

.termspage {
  margin-top:90px;
  margin-bottom:0;
  padding: 50px 0 10px 0;
  background-size:100% 100%;
}
.termspage .page{
  font:10pt;
  color:white;
}
.termspage .page h2{
  padding-top: 100px;
  padding-bottom: 30px;
  font:10pt;
  color:white;
}
.termspage .page .subtitle{
  padding-bottom: 30px;
}

.faqpage {
  margin-top:90px;
  margin-bottom:0;
  padding: 50px 0 10px 0;
  background-size:100% 100%;
}
.faqpage .page{
  font:10pt;
  color:white;
}
.faqpage .page h2{
  padding-top: 100px;
  padding-bottom: 30px;
  font:10pt;
  color:white;
}
